.chat-header {
  border-bottom: 1px solid #f7f7f7;
}

.chat_messages {
  display: flex;
  flex-direction: column;
}

.chat_timestamp {
  position: relative;
  display: flex;
  justify-content: center;
  height: 30px;
}

.chat_timstamp-line {
  position: absolute;
  width: 100%;
  top: 21px;
  border: 0.5px solid black;
  z-index: 1;
}

.chat_timestamp-time-box {
  position: absolute;
  top: 16px;
  padding: 0 10px;
  background-color: white;
  font-weight: 550;
  z-index: 2;
}

.message {
  display: flex;
  margin: 10px 0;
}

.incoming-message {
  justify-content: flex-start;
}

.sending-message {
  justify-content: flex-end;
}

.chat_write {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.chat_write-column {
  margin: 0 10px;
}

.message_content {
  margin-left: 10px;
}

.message_bubble {
  border: 1px solid dodgerblue;
  padding: 5px;
}
