.chat-body {
  padding: 0;
  position: relative;
}

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white !important;
  z-index: 5;
  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chat-body .status-bar {
  padding: 0 20px;
  padding-top: 10px;
}

.chat-header {
  border-bottom: 1px solid #f7f7f7;
  padding: 15px 20px;
}

.chat-screen {
  background-image: url("../img/beanstalk.png");
  min-height: calc(100vh - 80px);
  margin-top: 80px;
  overflow: hidden;
}

.chat_messages {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.chat_timestamp {
  position: relative;
  display: flex;
  justify-content: center;
  height: 30px;
}

.chat_timstamp-line {
  position: absolute;
  width: 100%;
  top: 21px;
  border: 0.5px solid black;
  z-index: 1;
}

.chat_timestamp-time-box {
  position: absolute;
  top: 16px;
  padding: 0 10px;
  background-color: white;
  border-radius: 4px;
  font-weight: 550;
  z-index: 2;
}

.message {
  display: flex;
  margin: 10px 0;
}

.incoming-message {
  justify-content: flex-start;
}

.sending-message {
  justify-content: flex-end;
}

.message_content {
  max-width: calc(100vw - 100px);
}

.message_content:last-child {
  display: flex;
  justify-content: space-around;
}

.message_author {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 600;
}

.message_bubble {
  color: #fcfcfc;
  border-radius: 20px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 15px;
  margin-top: 5px;
  margin-left: 10px;
  font-weight: 500;
  background-repeat: round;
}

.message_bubble span {
  word-break: break-word;
}

@keyframes incomingAni {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incomingAni 0.2s linear forwards;
}

@keyframes sendingAni {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sending-message {
  animation: sendingAni 0.2s linear forwards;
}

.incoming-message .message_bubble {
  border-top-left-radius: 0px !important;
  background-image: url("../img/ForeverLost.jpg");
}

.sending-message .message_bubble {
  border-top-right-radius: 0px !important;
  background-image: url("../img/PurpleBliss.jpg");
}

.message_timestamp {
  display: flex;
  align-items: flex-end;
  font-size: 11px;
  margin: 0 5px;
  opacity: 0.7;
}

@keyframes float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -12px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -12px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -12px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat_write {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
}

.chat_write-input {
  width: 100%;
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  opacity: 0.6;
  resize: none;
  font-family: "Open Sans", sans-serif !important;
  transition: transform 0.3s ease-in, padding 0.3s ease-in, width 0.3s ease-in,
    box-shadow 0.4s ease-in;
}

.chat_write-input:focus {
  outline: none;
  transform: translateY(-30px);
  line-height: 1.5;
  padding: 10px 15px;
  border-radius: 20px;
  width: 80%;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -12px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: float 3s linear infinite forwards;
}

.chat_write-input:focus ~ .chat_write-icon {
  opacity: 0;
}

.chat_write-icon {
  position: absolute;
  font-size: 18px;
  transition: opacity 0.2s ease-in-out;
}

.icon-left {
  left: 20px;
}

.icon-right {
  right: 20px;
}

.icon-right i {
  margin-left: 10px;
}
