.chat-body {
  padding: 0;
  position: relative;
}

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white !important;
  z-index: 5;
  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chat-body .status-bar {
  padding: 0 20px;
  padding-top: 10px;
}

.chat-header {
  border-bottom: 1px solid #f7f7f7;
  padding: 15px 20px;
}

.chat-screen {
  background-image: url("../img/beanstalk.png");
  min-height: calc(100vh - 100px);
  margin-top: 80px;
}

.chat_messages {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.chat_timestamp {
  position: relative;
  display: flex;
  justify-content: center;
  height: 30px;
}

.chat_timstamp-line {
  position: absolute;
  width: 100%;
  top: 21px;
  border: 0.5px solid black;
  z-index: 1;
}

.chat_timestamp-time-box {
  position: absolute;
  top: 16px;
  padding: 0 10px;
  background-color: white;
  border-radius: 4px;
  font-weight: 550;
  z-index: 2;
}

.message {
  display: flex;
  margin: 10px 0;
}

.incoming-message {
  justify-content: flex-start;
}

.sending-message {
  justify-content: flex-end;
}

.chat_write {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/Friday.jpg");
  background-repeat: round;
  width: 100%;
  padding: 5px 10px;
}

.chat_write-column {
  margin: 0 5px;
}

.chat_write-column:nth-child(2) {
  width: 80%;
}

.chat_write-column textarea {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  opacity: 0.6;
  resize: none;
  font-family: "Open Sans", sans-serif !important;
}

.chat_write-column textarea:focus {
  outline: none;
}

.chat_write-icon {
  margin-left: 5px;
}

.message_content {
  max-width: calc(100vw - 100px);
}

.message_content:last-child {
  display: flex;
  justify-content: space-around;
}

.message_author {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 600;
}

.message_bubble {
  color: #fcfcfc;
  border-radius: 20px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 15px;
  margin-top: 5px;
  margin-left: 10px;
  font-weight: 500;
  background-repeat: round;
}

.message_bubble span {
  word-break: break-word;
}

.incoming-message .message_bubble {
  border-top-left-radius: 0px !important;
  background-image: url("../img/ForeverLost.jpg");
}

.sending-message .message_bubble {
  border-top-right-radius: 0px !important;
  background-image: url("../img/PurpleBliss.jpg");
}

.message_timestamp {
  display: flex;
  align-items: flex-end;
  font-size: 11px;
  margin: 0 5px;
  opacity: 0.7;
}
