@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "chats.css";
@import "find.css";
@import "friends.css";
@import "more.css";
@import "settings.css";
@import "chat.css";

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Open Sans", sans-serif;
}

.g-avartar {
  height: 40px;
  background-color: #020202;
  border-radius: 17px;
}

a {
  color: inherit;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

main {
  animation: fadeIn 0.2s ease-in-out;
}
